.frontpage-icon {
    height: 150px;
    width: 150px;
    margin-top: 50px;
}

.frontpage-card {
    text-align: center;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

.tt-multiline ._md-content {
    height: auto;
}
